<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<type name="Amasty\TaskTwo\Block\Index"> &lt;!&ndash; Класс на который мы пишем плагин &ndash;&gt;
        <plugin name="getFormAction" type="Amasty\TaskTwo\Plugin\FormActionPlugin"/> &lt;!&ndash; Класс плагина &ndash;&gt;
    </type>-->
   <!-- <preference for="Amasty\TaskTwo\Api\Data\NameProviderInterface" type="Amasty\TaskTwo\Model\AlexeyProvider" />-->
</config>
