<?xml version='1.0' encoding="utf-8" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">

    <default>
        <task_config>
            <general>
                <enabled>
                    0
                </enabled>
            </general>
        </task_config>
        <Quantity_config>
            <hello_message>
                <enabled_message>1</enabled_message>
                <text_message>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                    also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </text_message>
                <quantity_input>10</quantity_input>
            </hello_message>
        </Quantity_config>
    </default>

</config>
